
body {
    font-family: cabin;
    background-color: #ffffff;
    margin: 0;
}
.taskio {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}
.container {
    width: 90%;
    display: flex;
    justify-content: center;
}
.sec-1 {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}
.sec-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 893px;
    background-color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 51px;
}
.group-inline {
    display: flex; 
    justify-content: space-between;
    gap: 70px;
    text-decoration: none;
}
.nav-button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #d7d7d7;
}
.title-calendar {
    font-size: 24px;
    font-weight: lighter;
    margin: 0;
    text-align: center;
}
.calendar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    height: min-content;
    gap: 30px;
    padding: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: #d7d7d7;
    box-shadow: -5px 5px 13px #efefef;
    background-color: #f7f7f7;
}
.grid-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
}
.month-day {
    background-color: white;
    padding: 10px;
    text-align: center;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: #ebebeb;
}
.month-day:hover {
    background-color: #f1f1f1;
}
.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}
.letter-day {
    font-size: 16px;
    font-weight: lighter;
    color: #888888;
    margin: 0;
}
.empty-day {
    background-color: #ebebeb;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: #ebebeb;
}